<!DOCTYPE HTML>
<html>
<head>
    <title>Simple nim game for Apurv</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // the angularjs system
            // http://stackoverflow.com/questions/25309945/making-table-cell-active-using-ng-click-with-ng-repeat
            var nimApp = angular.module("nimApp", [])
            .config(function($interpolateProvider){
                $interpolateProvider.startSymbol('{[{').endSymbol('}]}')
            });

            nimApp.controller("nimCtrl", function($scope) {
                // keep track of the current nim game number
                $scope.gameCount = 25;
                $scope.comments = "";

                console.log("=========let the games begin. And may the odds be ever in your favour.===========")
                console.log("=========       visit derbedhruv.com for more of my cool stuff.       ===========")
                console.log($scope.gameCount);

                // Use a "/test" namespace.
                // An application can open a connection on multiple namespaces, and
                // Socket.IO will multiplex all those connections on a single
                // physical channel. If you don't care about multiple channels, you
                // can set the namespace to an empty string.
                namespace = '/nim';

                // Connect to the Socket.IO server.
                // The connection URL has the following format:
                //     http[s]://<domain>:<port>[/<namespace>]
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace, {'force new connection': true});

                // Event handler for server sent data.
                // The callback function is invoked whenever the server emits data
                // to the client. The data is then displayed in the "Received"
                // section of the page.
                socket.on('server_response', function(msg) {
                    if (isNaN(msg.data) == false) {
                        $scope.gameCount = parseInt(msg.data);

                        console.log($scope.gameCount);
                        if ($scope.gameCount == 0) {
                            $scope.comments = "you lost!";
                        } else if ($scope.gameCount == 1) {
                            $scope.comments = "you won!";
                        }

                        $scope.$apply();    // force angular to apply and re-render the view
                    }
                });

                $scope.checkPosition = function ($parentIndex, $index) {
                    // check if the hovered cell position is valid or not
                    // return true, false
                    $scope.selectedPosition = {
                        parent: $parentIndex,
                        index: $index
                    };
                    var currentCellID = 25 - ($scope.selectedPosition.parent*5 + $scope.selectedPosition.index);
                    if (currentCellID > $scope.gameCount) {
                        return false
                    }

                    if ($scope.gameCount - currentCellID <= 3 && $scope.gameCount != currentCellID) {
                        return true;
                    } else {
                        return false;
                    }
                };

                $scope.selectPosition = function ($parentIndex, $index) {
                    // send selected position to server as current position
                    // console.log($scope.gameCount - 25 + 5*$parentIndex + $index);

                    socket.emit('player_move', {
                        data: $scope.gameCount - 25 + 5*$parentIndex + $index,
                        gameCount: $scope.gameCount
                    });
                };

                $scope.resetGame = function() {
                    // reset variables
                    // socket.emit('restart_game');
                    $scope.gameCount = 25;
                    $scope.comments = "";
                }
            });
        });
    </script>

    <style>
    td:hover {
        background-color:#f5dddd;
    }
    td.fine {
        background-color: #ddf5dd;
        cursor: pointer
    }
    td.currentGameCount {
        background-color: #ddddf5;
    }
    </style>
</head>
<body>
  <div class="container" ng-app="nimApp" ng-controller="nimCtrl">
    <h1>Welcome to the nim game</h1>
    <h4>Nim games are a class of <a href="https://en.wikipedia.org/wiki/Nim">ancient chinese strategy games</a> (played by 2 players, zero-sum)</h4>
    <h4>You are playing against the computer (who is really smart, ruthless and wants to win!). The objective of the game is to move the <span style="#ddddf5">light blue</span> cell to 0. You can move it 1,2 or 3 spaces ahead (indicated by a green highlight on the cell). Click on a cell to move it to that position. The computer will play immedietely after you.</h4>
    <h3>好运</h3>
    
    <table class="table table-bordered">
        <tr ng-repeat="i in [1,2,3,4,5]">
            <td style="cursor:pointer;"
                ng-repeat="j in [1,2,3,4,5]" 
                ng-mouseenter="hoverActive=true"
                ng-mouseleave="hoverActive=false"
                ng-click=" checkPosition($parent.$index, $index) ? selectPosition($parent.$index, $index) : false"
                ng-class="{fine: hoverActive && checkPosition($parent.$index, $index), currentGameCount: gameCount == 25 - 5*$parent.$index - $index }">
                <!--ng-class="{active: (selectedPosition.parent == $parent.$index && selectedPosition.index == $index )}"-->
                {[{ gameCount - (25 - 5*(i-1) - j) > 0 ? 26 - 5*(i-1) - j : 'X' }]}
            </td>
        </tr>
    </table>
    <h1>{[{ comments }]}</h1>
    <button class="btn btn-danger" ng-click="resetGame()">Restart Game!</input>
  </div>
</body>
</html>
