<!DOCTYPE HTML>
<html>
<head>
    <title>Simple nim game for Apurv</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // keep track of the current nim game number
            var gameCount = 25;
            console.log("=========let the games begin. And may the odds be ever in your favour.===========")
            console.log(gameCount);

            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/nim';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('server_response', function(msg) {
                if (isNaN(msg.data) == false) {
                    gameCount = parseInt(msg.data);
                    console.log(gameCount);
                }
                // $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#emit').submit(function(event) {
                socket.emit('player_move', {
                    data: $('#emit_data').val()
                });
                return false;
            });
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });

            // the angularjs system
            // http://stackoverflow.com/questions/25309945/making-table-cell-active-using-ng-click-with-ng-repeat
            var nimApp = angular.module("nimApp", [])
            .config(function($interpolateProvider){
                $interpolateProvider.startSymbol('{[{').endSymbol('}]}')
            });

            nimApp.controller("nimCtrl", function($scope) {
                $scope.checkPosition = function ($parentIndex, $index) {
                    // check if the hovered cell position is valid or not
                    // return true, false
                    $scope.selectedPosition = {
                        parent: $parentIndex,
                        index: $index
                    };
                    var currentCellID = 25 - ($scope.selectedPosition.parent*5 + $scope.selectedPosition.index);
                    if (currentCellID > gameCount) {
                        return false
                    }

                    if (gameCount - currentCellID <= 3 && gameCount != currentCellID) {
                        return true;
                    } else {
                        return false;
                    }
                };

                $scope.selectPosition = function ($parentIndex, $index) {
                    // send selected position to server as current position
                    console.log(25 - 5*$parentIndex - $index);
                };
            });
        });
    </script>

    <style>
    td:hover {
        background-color:#f5dddd;
    }
    td.fine {
        background-color: #ddf5dd;
    }
    </style>
</head>
<body>
  <div class="container" ng-app="nimApp">
    <h1>Welcome to the nim game</h1>
    <h2>Send:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
    <table class="table table-bordered" ng-controller="nimCtrl">
        <tr ng-repeat="i in [1,2,3,4,5]">
            <td style="cursor:pointer;"
                ng-repeat="j in [1,2,3,4,5]" 
                ng-mouseenter="hoverActive=true"
                ng-mouseleave="hoverActive=false"
                ng-click=" checkPosition($parent.$index, $index) ? selectPosition($parent.$index, $index) : false"
                ng-class="{fine: hoverActive && checkPosition($parent.$index, $index) }">
                <!--ng-class="{active: (selectedPosition.parent == $parent.$index && selectedPosition.index == $index )}"-->
                {[{ 26 - 5*(i-1) - j }]}
            </td>
        </tr>
    </table>
  </div>
</body>
</html>
